@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h4>Add a new treat</h4>
<hr>


<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name, "Treat Name")<br>
  @Html.TextBoxFor(model => model.Name, new { placeholder = "Cinnamon Bun", style="font-style:italic"})
  <br>
  <br>
  @Html.LabelFor(model => model.Quantity)<br>
  @Html.TextBoxFor(model => model.Quantity, new {@type="number", required = "required", placeholder="2", style="font-style:italic"})<br>
  <br>
  <input type="submit" value="Add new treat" class="btn btn-light" />
}
<hr><br>
<p>@Html.ActionLink("Show all treats", "Index", "Treats", null, new { @class = "btn btn-light" })</p>