@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h4>Add a new treat</h4>
<hr>


<p>@Html.ValidationMessageFor(model => model.TreatName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.TreatPrice, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.TreatName, "Treat Name")<br>
  @Html.TextBoxFor(model => model.TreatName, new { placeholder = "Cinnamon Bun", style="font-style:italic"})
  <br>
  <br>
  @Html.LabelFor(model => model.TreatPrice)<br>
  @Html.TextBoxFor(model => model.TreatPrice, new {@type="number", required = "required", placeholder="2.50", style="font-style:italic"})<br>
  <br>
  <input type="submit" value="Add new treat" class="btn btn-light" />
}
<hr><br>
<p>@Html.ActionLink("Show all treats", "Index", "Treats", null, new { @class = "btn btn-light" })</p>