@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models;

<h1>Students</h1>

@if (@Model.Count == 0)
{
  <h3>No Students have been added yet!</h3>
} 
else
{
  @foreach (Student student in Model)
  {
    <h3>@Html.ActionLink($"{student.StudentName}", "Details", new { id = student.StudentId })</h3>
    <p>@student.EnrollmentDate</p>
  }
}
<p>@Html.ActionLink("Add new student", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>