@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course;
@using UniversityRegistrar.Models;
@using System.Collections.Generic;

<h2>Course Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.CourseName): @Html.DisplayFor(model => model.CourseName)</h3>
<h3>@Html.DisplayNameFor(model => model.CourseNumber): @Html.DisplayFor(model => model.CourseNumber)</h3>

@if (Model.JoinEntities.Count == 0)
{
  <p>This course does not have any students</p>
}
else
{
  <h4>Students attending this class:</h4>
  <ul>
  @foreach (CourseStudent join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{join.Student.StudentName}", "Details", "Students", new { id = join.Student.StudentId})</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to courses", "Index")</p>
<p>@Html.ActionLink("Add a Student for this Course", "AddStudent", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Edit Course", "Edit", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Delete Course", "Delete", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Add new student", "Create", "Students")</p>