@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models
@model UniversityRegistrar.Models.Student

<h2>Student Details</h2>
<hr />
<h3>Name: @Html.DisplayFor(model => model.StudentName)</h3>
<h4>Enrollment Date: @Html.DisplayFor(model => model.EnrollmentDate)</h4> 

@if(@Model.JoinEntities.Count == 0)
{
  <p>This student does not have any courses yet!</p>
}
else
{
  <h4>This student has the following courses:</h4>
  <ul>
    @foreach(CourseStudent join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{join.Course.CourseName}", "Details", "Courses", new { id = join.Course.CourseId})</li>
    }
  </ul>
}

<p>@Html.ActionLink("Back to students", "Index")</p>
<p>@Html.ActionLink("Add a Course for this Student", "AddCourse", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Edit Student", "Edit", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Delete Student", "Delete", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Add new Course", "Create", "Courses")</p>
