@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h2>Edit</h2>

<h4>Edit this flavor: @Html.DisplayFor(model => model.Description)</h4>

<p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600" })</p>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.Description, "Flavor: ")
  @Html.EditorFor(model => model.Description)

  <input type="submit" value="Save" />
}
<hr><br>
<p>@Html.ActionLink("Back to list", "Index", "Flavors", null, new { @class = "btn btn-light" })</p>