@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course

<h2>Add student</h2>

<h3>Add a student to this course: @Html.DisplayFor(model => model.CourseName)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CourseId)

  <div class="form-group">
    @Html.Label("Select a student")
    @Html.DropDownList("StudentId")
  </div>

  <input type="submit" value="Add Student" class="btn btn-primary" />
}

  @Html.ActionLink("Back to List", "Index")